{% extends "layout.html" %}
{% block title %}Hypewaves - Home{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Welcome to Hypewaves</h1>

<div class="row justify-content-center">
    <div class="col-md-3 mb-4">
        <a href="/ai" class="btn btn-lg btn-primary w-100">AI</a>
    </div>
    <div class="col-md-3 mb-4">
        <a href="/tech" class="btn btn-lg btn-success w-100">Tech</a>
    </div>
    <div class="col-md-3 mb-4">
        <a href="/news" class="btn btn-lg btn-warning w-100">News</a>
    </div>
    <div class="col-md-3 mb-4">
        <a href="/entertainment" class="btn btn-lg btn-danger w-100">Entertainment</a>
    </div>
</div>
{% endblock %}
